/* CORPO */

body {
  background: linear-gradient(to bottom,
      rgb(3, 3, 84) 76%,
      rgb(33, 98, 220) 97%);
  background-attachment: fixed;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  font-family: infinity, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  height: 100px;
}

.main-list .subscribe-button {
  margin-top: 0;
  /* Adicione essa linha para ajustar o espaçamento superior do botão */
}

/* Fixar o HEADER e os demais tags dentro da tag HEADER */

#fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(3, 3, 84);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#title {
  line-height: 20px;
  margin-left: 50px;
  flex-direction: column;
  font-size: 28px;
  color: rgb(51, 181, 220);
}

#flexbox-name {
  height: 250px;
}


/*  Página INDEX  */

.main-description {
  line-height: 30px;
  font-size: 25px;
}

.description {
  line-height: 25px;
  max-width: 600px;
}


.main-description {
  line-height: 30px;
  font-size: 25px;
}

.description {
  line-height: 25px;
  max-width: 600px;
}

#main-content {
  margin-bottom: 70px;
}


#description-content {
  background: rgb(226, 228, 232);
  color: blue;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}


#main-content {
  margin-bottom: 70px;
}

/*  Página (LOGIN) */

.login-box {
  position: absolute;
  top: 60%;
  left: 30%;
  width: 500px;
  padding: 20px;
  margin: 5px auto;
  transform: translate(-50%, -55%);
  background: rgba(0, 0, 0, .9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 20px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.login-box a:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}


/*    */


button:hover {
  background-color: #0056b3;
}

body {
  background: linear-gradient(to bottom,
      rgb(3, 3, 84) 76%,
      rgb(33, 98, 220) 97%);
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  font-family: infinity, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

#title {
  line-height: 20px;
  flex-direction: column;
  font-size: 28px;
  color: rgb(51, 181, 220);
}

#flexbox-name {
  height: 250px;
}

#description {
  line-height: 25px;
  max-width: 600px;
}

.main-description {
  line-height: 30px;
  font-size: 25px;
}

#main-content {
  margin-bottom: 70px;
}

.description {
  line-height: 25px;
  max-width: 600px;
}

/* LOGOTIPO NA TELA INICIO*/

#logotipo {
  height: 100px;
  display: inline-block;
  position: relative;
  left: 100px;
  top: 340px;
}

/* LOGOTIPO NA TELA Fale-Conosco*/

#faleconoscologotipo {
  height: 500px;
  display: inline-block;
  position: absolute;
  left: 800px;
  top: 100px;

}

/*LOGOTIPO NA TELA LOGIN */

#Login-logotipo {

  height: 500px;
  display: inline-block;
  position: absolute;
  left: 800px;
  top: 100px;

}

.subscribe-button {
  border: 2px solid rgb(51, 181, 220);
  padding: 10px;
  border-radius: 30px;
}

.subscribe-button:hover {
  background-color: rgb(51, 181, 220);
  color: black;
}

.main-title {
  font-size: 56px;
  line-height: 70px;
  margin-top: 65px;
}

h1 {
  font-weight: 200;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
}

li {
  display: inline-block;
  margin: 20px;
  font-size: 18px;
}

span {
  color: rgb(51, 181, 220);
}

a {
  color: rgb(51, 181, 220);
}

a:hover {
  color: white;
  transition: 0.3s, all;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

input {
  margin-top: 10px;
  height: 20px;
  padding: 15px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}

form [type="submit"] {
  height: 50px;
  width: 70%;
  background-color: rgb(51, 181, 220);
  font-weight: bold;
}

form [type="submit"]:hover {
  cursor: pointer;
}

/* CADASTRO - FORMULÁRIO */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 700px;
  background-color: #2d2477;
  padding: 35px;
  border-radius: 30px;
  position: relative;
  left: 20%;
}

.title {
  font-size: 40px;
  color: rgb(252, 17, 0);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(255, 0, 0);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 0, 0);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(255, 255, 255, 0.993);
  font-size: 20px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.397);
  border-radius: 10px;
}

.form label .input+span {
  position: sticky;
  left: 10px;
  top: 15px;
  color: rgb(255, 255, 255);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 30px;
  font-size: 15px;
  font-weight: 600;
}

.form label .input:valid+p {
  color: rgb(255, 255, 255);
  background-color: rgb(1, 126, 23);
  font-size: 15px;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #070707;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

#opcao {
  top: 30px;
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
}

.contato {
  color: blue;
  font-size: 25px;
}

.cadastro-formulario {
  font-size: 20px;
}

/* INDEX - BOTÃO DO "CADASTRAR-SE */

button {
  background: #fff;
  border: none;
  padding: 5px 5px;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  width: 250px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
}

span {
  display: inline-block;
  margin-top: 50px;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(20, 20, 20);
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

button:hover {
  color: #fff;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

/* Página SOBRE */

.titulosobre {
  font-size: 40px;
  line-height: 3;
  color: rgb(51, 181, 220);
  font-weight: bold;
}

/* FALE CONOSCO */

.bodysuport {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(87, 87, 165);
}

.sectionsuport {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 45px;
  background: rgb(22, 21, 21);
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.sectionsuport .h2suport {
  color: azure;
  font-size: 2.5rem;
  margin: 2rem;
}

.sectionsuport .formsuport {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formsuport .labelsuport {
  color: antiquewhite;
  font-size: 17px;
  margin-bottom: 4px;
}

.formsuport .inputsuport {
  padding: 15px;
  outline: none;
  border: 0;
  margin-bottom: 20px;
  font-size: 15px;
  transition: all 0.5s;
}

.formsuport .inputsuport:focus {
  border-radius: 15px;
}

.formsuport .textareasuport {
  padding: 10px;
  outline: none;
  border: 0;
  font-size: 15px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.formsuport .textareasuport:focus {
  border-radius: 16px;
}

.formsuport .btsuport {
  padding: 15px;
  cursor: pointer;
  font-size: 16px;
  background: transparent;
  border: 2px solid rgb(68, 84, 224);
  color: bisque;
  transition: all 1s;
  margin-bottom: 16px;
}

.formsuport .btsuport:hover {
  background: rgb(59, 59, 206);
  color: rgb(61, 61, 230);
  border-radius: 16px;
}

/* PUBLICAÇÃO DE SERVIÇOS */

#freelance-container {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 100px auto;
  width: 700px;
  padding-left: 20px;
  padding-bottom: 50px;
}

.freelance-form input {
  height: 25px;
  width: 400px;
  margin-bottom: 20px;
  font-size: 20px;
}

.freelance-form label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-freelance {
  height: 20px;
}

#freelance-title {
  font-size: 32px;
  color: white;
}

#nicho {
  width: 400px;
}

#logotipo {
  height: 500px;
  display: inline-block;
  position: relative;
  left: 100px;
  bottom: 35px;
  top: 300px;
}

.subscribe-button {
  border: 2px solid rgb(51, 181, 220);
  padding: 10px;
  border-radius: 30px;
}

.subscribe-button:hover {
  background-color: rgb(51, 181, 220);
  color: black;
}

.main-title {
  font-size: 56px;
  line-height: 50px;
}

#description-content {
  background-color: rgb(226, 228, 232);
  color: blue;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
}

h1 {
  font-weight: 200;
}

h3 {
  font-size: 25px;
}

.main-div {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-between;
  position: relative;
  top: 150px;
}

ul {
  margin-right: 50px;
}

li {
  display: inline-block;
  margin: 20px;
  font-size: 18px;
}

span {
  color: rgb(51, 181, 220);
}

a {
  color: rgb(51, 181, 220);
  text-decoration: none;
}

a:hover {
  color: white;
  transition: 0.3s, all;
}

form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

form [type="submit"] {
  height: 50px;
  width: 70%;
  background-color: rgb(51, 181, 220);
  font-weight: bold;
}

form [type="submit"]:hover {
  cursor: pointer;
}

/* CADASTRO - FORMULÁRIO */

.form {
  display: fixed;
  bottom: 10px;
  flex-direction: column;
  right: 10px;
  background-color: #2d2477;
  padding: 80px;

}

.title {
  font-size: 40px;
  color: rgb(255, 251, 251);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(255, 254, 254);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(255, 255, 255);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: rgba(255, 255, 255, 0.993);
  font-size: 20px;
}

.signin {
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.397);
  border-radius: 10px;
}

.form label .input+span {
  position: sticky;
  left: 10px;
  top: 15px;
  color: rgb(255, 255, 255);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus+span,
.form label .input:valid+span {
  top: 30px;
  font-size: 15px;
  font-weight: 600;
}

.form label .input:valid+p {
  color: rgb(255, 255, 255);
  background-color: rgb(1, 126, 23);
  font-size: 15px;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #070707;
  font-size: 16px;
  transform: 0.3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

#opcao {
  top: 30px;
  font-size: 20px;
  font-weight: 600;
  padding: 8px;
}

.contato {
  color: blue;
  font-size: 25px;
}

.cadastro-formulario {
  font-size: 20px;
}

/* PUBLICAÇÃO DE SERVIÇOS */

#freelance-container {
  background-color: white;
  color: black;
  border-radius: 10px;
  margin: 100px auto;
}

.freelance-form input {
  height: 25px;
  width: 400px;
  margin-bottom: 20px;
  font-size: 20px;
}

.freelance-form label {
  margin-top: 10px;
  margin-bottom: 10px;
}

#freelance-title {
  font-size: 32px;
  color: white;
}

#nicho {
  width: 400px;
}

/* rodape */

footer {
  background-color: rgb(3, 3, 84);
  color: white;
  padding: 30px 0;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  max-width: 300px;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.5em;
  border-bottom: 2px solid rgb(51, 181, 220);
  padding-bottom: 5px;
}

.footer-section p {
  font-size: 1em;
  margin-top: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section a {
  color: rgb(51, 181, 220);
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid rgb(51, 181, 220);
}

/* RODAPÉ TELA DE LOGIN */

#footer {
  background-color: rgb(3, 3, 84);
  color: white;
  padding: 30px 0;
  margin-top: 60%;
  width: 100%;
}

#footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#footer-section {
  max-width: 300px;
  margin-bottom: 20px;
}

#footer-section h2 {
  font-size: 1.5em;
  border-bottom: 2px solid rgb(51, 181, 220);
  padding-bottom: 5px;
}

#footer-section p {
  font-size: 1em;
  margin-top: 10px;
}

#footer-section ul {
  list-style-type: none;
  padding: 0;
}

#footer-section a {
  color: rgb(51, 181, 220);
  text-decoration: none;
}

#footer-section a:hover {
  text-decoration: underline;
}

#footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid rgb(51, 181, 220);
}

#login-logo {
  height: 230px;
  display: inline-block;
  position: relative;
  left: 5px;
  top: 110px;
}


